# Ignore compiled classes and build output  
target/
*.class
*.jar
*.war
# Ignore IDE workspace settings  
.idea/workspace.xml  
# Ignore secret properties file  
#src/main/resources/secrets.properties
