# Ignore compiled classes and build output
target/
*.class
*.jar
*.war

# Ignore logs
logs/
*.log
*.gz

# Ignore IDE workspace settings
.idea/
*.iml
.vscode/

# Ignore secret properties file
src/main/resources/secrets.properties
secrets.properties